.container {
    width: 350px;
}
.error__mesage{
    color: red;
    margin-left: 20px;
}
.label{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}